.box{
    width:400px;
    height:500px;
    border: 2px solid black;
    margin-left:35%;
    margin-top:5%;
    padding-right: 50px;
}
.registration{
    margin-top:20px;
    margin-bottom:20px;
    text-align: center;
    font-size: 25px;
}
input{
    margin-left: 40px;
}
.content{
    margin-left:40px;
    text-align: right;
}
.name{
    margin-left:23px;
}
.email{
    margin-left:20px;
}
.sex{
    text-align:center;
}
.dob{
    margin-right:40px;
    padding-right:40px;
}